@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

body {
    font-family: "SF Pro Display", sans-serif;
    min-width: 270px;
    background-color: #000;
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

/*****************************************************************
******************************************************************
******************************************************************
*****************************************************************/

.header {
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 50px;
}

@media (max-width: 768px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 450px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.699);
}

.header__title {
    font-size: 3em;
    font-weight: 500;
}

:root {
    --primary-color: #212529;
    --secondary-color: #dee2e6;
}

.toggle {
    position: relative;
    width: 80px;
    height: 30px;
    cursor: pointer;
    background: linear-gradient(to bottom, #161616, rgb(26, 24, 24));
    border-radius: 220px;
    border: 1px solid #2d2d2d;
    box-shadow: inset 0 8px 50px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

.toggle .toggle-item {
    left: 0;
    width: 24px;
    height: 24px;
    background: linear-gradient(to bottom, rgb(66, 66, 66), rgb(49, 47, 47));
    position: absolute;
    border-radius: 220px;
    margin-top: 2px;
    margin-left: 3px;
    box-shadow: inset 0 8px 50px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 1;
}

.toggle .toggle-item.active {
    left: 45px;
    width: 24px;
    height: 24px;
    background: var(--secondary-color);
    position: absolute;
    border-radius: 220px;
    margin-top: 2px;
    margin-left: 5px;
    box-shadow: inset 0 8px 50px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.5s ease;
}

body.active .toggle {
    position: relative;
    width: 80px;
    height: 30px;
    background: var(--secondary-color);
    border-radius: 220px;
    border: 1px solid var(--secondary-color);
    box-shadow: inset 0 8px 50px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

body.active {
    background: var(--secondary-color);
    transition: all 0.5s ease;
    color: #161616;
}

#context {
    display: block;
    position: absolute;
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 600;
    margin-left: 35px;
    margin-top: 6px;
}

body.active #context {
    color: var(--primary-color);
    margin-left: 10px;
}

.header__title {
    text-shadow: 1px 1px 3px #c4c4c4c2;
    padding-right: 10px;
}

body.active .header__title {
    color: #161616;
    text-shadow: 1px 1px 3px #161616b7;
}

@media (max-width: 768px) {
    .header__title {
        font-size: 2.3em;
    }

    .header__container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 450px) {
    .header__title {
        font-size: 2em;
    }
}

@media (max-width: 350px) {
    .header__title {
        font-size: 1.5em;
    }
}

/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/

.page__portfolio {
    margin-top: 100px;
    margin-bottom: 100px;
}

.portfolio__title {
    font-size: 2.5em;
    font-weight: bold;
}

.portfolio__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 35px;
}

.portfolio__item {
    flex: 0 1 31.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in 0s;
}

.item__wrapper {
    opacity: 0;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 11;
    transition: all 0.3s ease-in 0s;
}

.portfolio__item:hover .item__wrapper {
    opacity: 0.7;
    display: flex;
}

.portfolio__item img {
    width: 100%;
    height: auto;
}

.item__button {
    position: relative;
    color: #fff;
    font-size: 2em;
    font-weight: 500;
}

.portfolio__item:hover {
    transform: scale(1.1);
    z-index: 10;
}

.item__button:hover {
    opacity: 0.8;
}

@media (max-width: 1250px) {
    .portfolio__item {
        flex: 1 1 45%;
    }
}

@media (max-width: 550px) {
    .portfolio__item:hover {
        transform: scale(1);
        z-index: 10;
    }
    .portfolio__item {
        flex: 1 1 95%;
    }
}

/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/

.footer {
    width: 100%;
    padding: 30px 0px;
}
.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__container p {
    font-size: 1.2em;
}

.footer__container p span {
    font-weight: 500;
}
