.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
    font-family: "Rubik";
}

.footer {
    flex: 0 0 auto;
}

body {
    min-width: 280px;
}

.container {
    max-width: 1090px;
    padding: 0 30px;
    margin: 0 auto;
}

.button {
    font-family: "Raleway";
    cursor: pointer;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: #fcfdfe;
    background: #ec5863;
    border-radius: 5px;
    padding: 14px 30px;
    transition: all 0.3s ease 0s;
}

.button:hover {
    opacity: 0.7;
}

@media (min-width: 300px) {
    .wrapper {
        overflow: hidden;
    }
}

/*****************************************************************
******************************************************************
******************************************************************
*****************************************************************/

.header__menu {
    width: 100%;
    background-color: #fafbfd;
    padding: 37px 0;
    position: absolute;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 30;
    width: 100%;
}

.logo__link {
    display: flex;
    align-items: center;
}

.logo__link:hover {
    opacity: 0.7;
}

.logo__link h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 5px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-end;
}

.header__item {
    text-transform: uppercase;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: #000000;
    transition: all 0.3s ease 0s;
}

.header__item:hover {
    opacity: 0.7;
}

.header__button {
    position: relative;
    z-index: 50;

    background-color: #4285f4;
}

.header__button-block {
    position: relative;
}

/*
/*
*************************************************************************
MENU BURGER
*/

.menu__burger {
    display: none;
    width: 25px;
    height: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease-in 0s;
    z-index: 999;
    outline: none;
}

.menu__burger.active span {
    transform: scale(0);
}

.menu__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
}

.menu__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.menu__burger span {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    transition: all 0.3s ease-in 0s;
}

.menu__burger::before,
.menu__burger::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all 0.3s ease-in 0s;
}

.menu__burger::before {
    top: 0;
}

.menu__burger::after {
    bottom: 0px;
}

.menu__burger::before,
.menu__burger::after,
.menu__burger span {
    background-color: #000;
}

.menu__burger:hover {
    opacity: 0.5;
}

/*
*************************************************************************
*/

body.over-off {
    overflow: hidden;
}

.mobile__menu.show {
    top: 0;
    right: 0;
    opacity: 0.9;
}

.mobile__menu {
    position: fixed;
    top: -100%;
    right: -100%;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    z-index: 500;
    padding: 70px 0;
    background-color: #fff;
    opacity: 0;
    transition: all 0.5s ease 0.1s;
}

@media (max-width: 768px) {
    .header__decor {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .header__list {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header__button {
        margin-right: 50px;
    }

    .menu__burger {
        display: block;
        position: absolute;
        right: 35px;
    }
}

@media (max-width: 400px) {
    .logo__link h2 {
        display: none;
    }

    .header__menu {
        padding: 25px 0;
    }

    .menu__burger {
        right: 25px;
    }

    .header__button {
        margin-right: 55px;
    }

    .header__container {
        padding: 0 10px;
    }
}

/*****************************************************************************
*/

.page__main {
    width: 100%;
    background-color: #fafbfd;
}

.main__container {
    position: relative;
    padding-top: 154px;
    padding-bottom: 48px;
}

.header__decor {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 267px;
    background: #ec5863;
    border-radius: 30px 0px 0px 30px;
    z-index: 25;
    transform: translate(100%, 0);
}

@media (max-width: 950px) {
    .header__decor {
        right: 185px;
    }
}

.main__content {
    color: #616161;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 25;
}

.main__text {
    display: flex;
    flex-direction: column;
    flex: 0 1 45%;
    padding-right: 20px;
    position: relative;
    z-index: 10;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
}

.paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #616161;
}

.main__button {
    margin-top: 24px;
    max-width: 144px;
}

.main__picture {
    flex: 0 1 53.5%;
    max-width: 547px;
    max-height: 394px;
    position: relative;
    z-index: 10;
}

.main__picture img {
    width: 100%;
    height: auto;
}

.main__bottom {
    padding-left: 56px;
    margin-top: 61px;
}

.main__bottom p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 0.08em;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #b0b0b0;
}

.main__bottom a {
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    position: relative;
    transition: all 0.3s ease 0s;
}

.main__bottom a:hover {
    opacity: 0.7;
}

.main__bottom a::before {
    content: "";
    width: 44px;
    height: 44px;
    position: absolute;
    top: -26px;
    left: -56px;
    background-image: url("../img/Group\ 23.svg");
}

@media (max-width: 900px) {
    .main__picture {
        flex: 0 1 45%;
    }

    .main__text {
        flex: 0 1 50%;
    }
}

@media (max-width: 768px) {
    .main__container {
        padding-top: 120px;
    }

    .main__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main__picture {
        flex: 0 1 100%;
        margin-top: 50px;
    }

    .main__text {
        flex: 0 1 100%;
        padding: 0;
    }
}

/*************************************************
*/

.page__safe {
    padding-top: 80px;
    padding-bottom: 80px;
}

.safe__container {
    display: flex;
    justify-content: space-around;
}

.safe__image {
    padding: 45px 25px 3px 64px;
    position: relative;
    flex: 0 1 40%;
    width: 239px;
}

.safe__image img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

.img-decor {
    content: "";
    position: absolute;
    width: 77px;
    height: 77px;
    right: 20px;
    top: 50%;
    transform: translateY(50%);
    z-index: 9;
    background: #ec5863;
    border-radius: 30px;
}

.safe__image::before {
    content: "";
    position: absolute;
    width: 147px;
    height: 147px;
    background: #ec5863;
    border-radius: 30px;
    top: 20px;
    left: 20px;
}

.safe__image::after {
    content: "";
    position: absolute;
    width: 77px;
    height: 77px;
    background: #ec5863;
    border-radius: 30px;
    bottom: 0px;
    left: 55px;
}

.safe__content {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex: 0 1 38%;
    justify-content: center;
}

.safe__content .paragraph {
    margin-top: 12px;
    margin-bottom: 24px;
}

.safe__button {
    max-width: 144px;
    text-align: center;
}

@media (max-width: 768px) {
    .page__safe {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .safe__container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .safe__image {
        margin-top: 50px;
        flex: 1 1 40%;
        width: 100%;
    }
}

@media (max-width: 380px) {
    .safe__content .title {
        font-size: 35px;
    }
}

/*********************************
*/

.page__talk {
    width: 100%;
    padding: 100px 0;
    background-color: #fafbfd;
}

.talk__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talk__wrapper {
    position: relative;
}

.talk__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #ffffff;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    padding: 28px 80px;
    position: relative;
    z-index: 11;
    gap: 80px;
}

.top__decor_1,
.top__decor_2,
.top__decor_3 {
    position: absolute;
    background: #ec5863;
    z-index: 1;
}

.top__decor_1 {
    border-radius: 16px;
    width: 65.75px;
    height: 65.75px;
    left: -31px;
    bottom: -31px;
    transform: rotate(-30deg);
}

.top__decor_2 {
    width: 96.96px;
    height: 96.96px;
    border-radius: 30px;
    left: 35%;
    transform: translateX(50%);
    top: -51px;
    transform: rotate(105deg);
}

.top__decor_3 {
    width: 127.47px;
    height: 127.47px;
    right: -51px;
    bottom: 0px;
    border-radius: 30px;
    transform: rotate(-30deg);
}

.top__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top__item span {
    color: #ec5863;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.14em;
    font-feature-settings: "pnum" on, "lnum" on;
}

.top__item h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    margin-top: 5px;
    letter-spacing: 0.37em;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
}

.talk__content {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.talk__text {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    flex: 0 1 37%;
}

.talk__content .paragraph {
    margin-top: 12px;
    margin-bottom: 24px;
}

.talk__video {
    flex: 0 1 55%;
}

.talk__video iframe {
    width: 100%;
}

@media (max-width: 768px) {
    .top__decor_1,
    .top__decor_3 {
        display: none;
    }
    .talk__top {
        padding: 20px 10px;
        width: 90%;
        margin: 0 auto;
        gap: 30px;
    }
    .talk__content {
        margin-top: 80px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .talk__text {
        flex: 0 1 100%;
        padding: 0;
    }

    .talk__video {
        flex: 0 1 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
}

/**********************************
**********
*/

.page__health {
    padding-top: 74px;
    padding-bottom: 70px;
}

.health__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.health__container .title {
    text-align: center;
    margin-bottom: 14px;
}

.health__container .paragraph {
    max-width: 600px;
}

.health__content {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.health__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 30%;
    background: #ffffff;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    padding: 36px 15px;
}

.health__item:hover {
    opacity: 0.7;
}

.health__item svg {
    margin-bottom: 58px;
}

.health__item h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.08em;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    margin-bottom: 4px;
}


@media(max-width: 768px) {

    .health__content {
        flex-wrap: wrap;
        gap: 20px;
    }

    .health__item {
        flex: 0 1 100%;
    }
}

.footer {
    width: 100%;
    padding-bottom: 45px;
}

.footer__container {
    display: flex;
    justify-content: center;
    gap: 57px;
    flex-wrap: wrap;
}