@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@font-face {
    font-family: CalSans;
    font-display: swap;
    src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"),
        url("../fonts/CalSans-SemiBold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

body {
    font-family: Poppins;
    min-width: 280px;
}

h1,
h2 {
    font-family: CalSans;
}

._container {
    margin: auto;
    max-width: 1260px;
    padding: 0 30px;
    position: relative;
}

/*
******************************************************************
******************************************************************
HEADER************************************************************
******************************************************************
******************************************************************
*/

.header {
    width: 100%;
    color: #fff;
    z-index: 2;
    position: absolute;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 131px;
    padding-top: 62px;
    padding-bottom: 62px;
}

.header__logo a {
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    justify-content: space-around;
}

.header__logo svg {
    width: 28px;
    height: 28px;
}

.header__logo a:hover path {
    fill: #ff652870;
}

.header__logo a:hover h2 {
    color: #12121298;
}

.header__logo a h2 {
    margin-left: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
}

/*********************************************/

.header__nav {
}

.header__list {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    gap: 56px;
}

.header__list a {
    color: rgba(18, 18, 18, 0.4);
    transition: all 0.3s ease-in 0s;
}

.header__list a:hover {
    text-decoration: underline;
}

/*
******************************************************************
******************************************************************
MAIN PAGE************************************************************
******************************************************************
******************************************************************
*/

.page__main {
    width: 100%;
    padding-bottom: 80px;
}

.main__container {
    display: flex;
}

.main__text {
    flex: 0 1 50%;
    align-self: flex-end;
    padding-top: 120px;
    padding-bottom: 60px;
    padding-right: 20px;
}

.main__title {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 67px;
    color: #121212;
}

.main__title span {
    color: #ff6428;
}

.main__description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    max-width: 400px;
    color: #666666;
    margin-top: 16px;
}

.main__bottom {
    margin-top: 33px;
    display: flex;
    align-items: center;
}

.main__button {
    background: #ff6428;
    border-radius: 40px;
    padding: 18px 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

.main__button:hover {
    background: #f8682fe7;
}

.main__svg,
.main__svg_1 {
    width: 27px;
    height: 30px;
}

.main__svg_1 {
    margin-left: 40px;
    margin-right: 28px;
}

.main__decor {
    flex: 0 1 50%;
}

.main__image {
    /* display: inline-block; */
    position: relative;
    margin-right: -135px;
    max-width: 672px;
    padding-bottom: 97.6%;
}

.main__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0 0 160px 375px;
}

.main__image::after {
    content: "";
    background: url("../img/decor.svg") 0 0 no-repeat;
    width: 80px;
    height: 80px;
    right: 36.3%;
    bottom: 0;
    transform: translate(0, 50%);
    position: absolute;
}

@media (max-width: 1200px) {
    .main__text {
        flex: 0 0 60%;
        padding-bottom: 0;
    }

    .main__decor {
        flex: 0 1 35%;
    }

    .header__container {
        gap: 40px;
    }

    .header__list {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .main__text {
        flex: 1 1 100%;
        padding-right: 0;
        padding-top: 130px;
    }

    .main__decor {
        display: none;
    }
}

@media (max-width: 500px) {
    .main__text {
        flex: 1 1 100%;
        padding-right: 0;
        padding-top: 100px;
    }

    .header__logo h2 {
        display: none;
    }

    .header__list {
        gap: 15px;
        flex-wrap: wrap;
    }

    .header__container {
        gap: 20px;
    }

    .main__bottom {
        flex-wrap: wrap;
        gap: 10px;
    }

    .main__svg_1 {
        margin-left: 30px;
    }

    .main__title {
        font-size: 50px;
    }

    .header__container {
        padding-top: 31px;
        padding-bottom: 31px;
    }
}

/*
******************************************************************
******************************************************************
CATEGORY****************************************************
******************************************************************
******************************************************************
*/

.page__store {
    width: 100%;
    padding-top: 80px;
}

.store__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.store__title {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: #121212;
    text-align: center;
}

.store__title span {
    color: #ff6428;
}

.store__category {
    margin-top: 96px;
}

.category__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 100%;
    flex-wrap: wrap;
}

.category__text p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: #121212;
    margin-right: 30px;
}

.category__text a {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #868686;
}

.category__block {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}

.category__item {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
}

.category__img img {
    width: 100%;
    height: auto;
}

.category__item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.category__item h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #121212;
    margin-top: 40px;
}

.category__item p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

.category__text a:hover {
    text-decoration: underline;
}

@media (max-width: 1070px) {
    .category__item {
        flex: 0 1 45%;
    }

    .page__store {
        padding-top: 30px;
    }
}

@media (max-width: 768px) {
    .category__item {
        flex: 0 1 100%;
    }

    .store__category {
        margin-top: 70px;
    }

    .page__store {
        padding-top: 0px;
    }

    .category__block {
        gap: 10px;
    }

    .category__text {
        margin-bottom: 0;
    }

    .category__item h6 {
        margin-top: 0;
    }
}

.page__store {
    padding-bottom: 90px;
}

/*
******************************************************************
******************************************************************
CATEGORIES************************************************************
******************************************************************
******************************************************************
*/

.page__categories {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 110px;
}

.categories__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categories__title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: #000000;
}

.categories__title span {
    color: #ff6428;
}

.categories__block {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: space-around;
}

.categories__image {
    position: relative;
    min-width: 220px;
    min-height: 280px;
    border-radius: 35px;
    overflow: hidden;
    cursor: pointer;
    flex: 0 1 20%;
    transition: all 0.3s ease 0s;
    outline: none;
}

.categories__image img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    outline: none;
}

.categories__image p {
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}

.categories__image:hover img {
    transform: scale(1.15);
    opacity: 0.9;
}

@media (max-width: 1160px) {
    .categories__block {
        gap: 25px;
    }

    .page__categories {
        padding-top: 0;
    }
    .categories__image {
        flex: 0 1 40%;
    }
}

@media (max-width: 769px) {
    .page__categories {
        padding-top: 0px;
    }
}

@media (max-width: 525px) {
    .categories__image {
        flex: 0 1 100%;
    }
}

/*
******************************************************************
******************************************************************
FEATURING************************************************************
******************************************************************
******************************************************************
*/

.page__featuring {
    width: 100%;
    padding-top: 110px;
    padding-bottom: 180px;
}

.featuring__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featuring__title {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #000000;
}

.featuring__block {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -moz-column-gap: 160px;
    column-gap: 160px;
    row-gap: 80px;
    justify-content: center;
}

.featuring__item {
    flex: 0 1 143px;
}

.featuring__item img {
    width: 100%;
}

.featuring__title span {
    color: #ff6428;
}

@media (max-width: 1160px) {
    .page__featuring {
        padding-top: 0;
        padding-bottom: 90px;
    }
}

@media (max-width: 838px) {
    .featuring__block {
        margin-top: 30px;
        row-gap: 40px;
        -moz-column-gap: 80px;
        column-gap: 80px;
    }
}

/*
******************************************************************
******************************************************************
******************************************************************
******************************************************************
******************************************************************
*/
.page__why {
    width: 100%;
    padding-top: 93px;
    padding-bottom: 94px;
    background: #121212;
}

.why__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why__title {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: #ffffff;
    text-align: center;
}

.why__title span {
    color: #ff6428;
}

.why__block {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
}

.why__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 20%;
}

.why__icon {
    width: 72px;
    height: 72px;
    background: #262626;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why__item h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 12px;
    text-align: center;
}

.why__item p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #666666;
}

@media (max-width: 768px) {
    .why__item {
        flex: 0 1 40%;
    }
}

@media (max-width: 500px) {
    .why__item {
        flex: 0 1 90%;
    }
}

/******************************************************************
******************************************************************
******************************************************************
******************************************************************
*/

.page__review {
    width: 100%;
    padding-top: 240px;
    padding-bottom: 240px;
}

.review__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.review__title {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: #000000;
}

.review__title span {
    color: #ff6428;
}

.review__block {
    width: 100%;
    margin-top: 110px;
}

.swiper {
    width: 100%;
    height: auto;
}

.review__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.review__picture {
    position: relative;
    flex: 0 1 34%;
    z-index: 10;
}

.review__img {
    width: 326px;
    height: 326px;
    border-radius: 50%;
    margin-left: 81px;
    overflow: hidden;
}

.review__img img {
    width: 100%;
    height: 100%;
}

.review__picture::before {
    content: "";
    position: absolute;
    width: 284.72px;
    height: 257.89px;
    left: 14px;
    top: 38px;
    background: #ff6428;
    border-radius: 40px 0px 400px 400px;
    transform: rotate(-7.72deg);
    z-index: -1;
}

.review__text {
    flex: 0 1 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review__description {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #666666;
}

.review__text h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
    margin-top: 56px;
    margin-bottom: 8px;
}

.review__job {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.08em;
    color: #868686;
}

.swiper-pagination {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.swiper-pagination-bullet {
    height: 16px;
    width: 10px;
    background: #c4c4c4;
    border-radius: 20px;
    margin: 0 8px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    width: 24px;
    height: 12px;
    background: #ff6428;
    border-radius: 20px;
}

@media (max-width: 970px) {
    .review__item {
        flex-wrap: wrap;
        justify-content: center;
    }

    .review__picture {
        width: auto;
        margin: 0 auto;
    }

    .review__text {
        flex: 0 0 100%;
    }
}

@media (max-width: 500px) {
    .review__picture {
        flex: 0 1 100%;
    }

    .review__img {
        width: auto;
        height: auto;
        margin-left: 15%;
    }
    .review__picture::before {
        content: "";
        position: absolute;
        width: 70%;
        height: 77%;
        left: 4%;
        top: 10%;
        background: #ff6428;
        border-radius: 40px 0px 400px 400px;
        transform: rotate(-7.72deg);
        z-index: -1;
    }

    .page__review {
        padding-top: 120px;
        padding-bottom: 110px;
    }

    .review__block {
        margin-top: 70px;
    }

    .swiper {
        padding-bottom: 30px;
    }
}

/*********************************************************
*/

.favorite {
    width: 100%;
    padding-bottom: 120px;
}

.favorite__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.favorite__text {
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;
    padding-right: 20px;
}

.favorite__text h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    color: #000000;
}

.favorite__text h2 span {
    color: #ff6428;
}

.favorite__app {
    display: flex;
    margin-top: 60px;
    gap: 26.6px;
    flex-wrap: wrap;
}

.favorite__android {
    margin-right: 27px;
    width: 192.38px;
}

.favorite__apple {
    width: 171px;
}

.favorite__android img,
.favorite__apple img {
    width: 100%;
    height: 100%;
}

.favorite__img {
    width: 568px;
}

.favorite__img img {
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .favorite__container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .favorite__text {
        flex: 0 1 100%;
    }

    .favorite__img {
        margin-top: 50px;
        flex: 0 1 100%;
    }
}

@media (max-width: 500px) {
    .favorite__text h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 140%;
        color: #000000;
    }

    .favorite__app {
        margin-top: 35px;
    }
}

/*****************************************************************
*/

.footer {
    padding-top: 80px;
    padding-bottom: 43px;
    background-color: #eeeeee;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.footer__logo a {
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    justify-content: space-around;
}

.footer__logo svg {
    width: 40px;
    height: 40px;
}

.footer__logo a:hover path {
    fill: #ff652870;
}

.footer__logo a:hover h2 {
    color: #12121298;
}

.footer__logo a h2 {
    margin-left: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #121212;
}

.footer__mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #666666;
    margin-top: 28px;
    margin-bottom: 20px;
}

.footer__mail:hover {
    text-decoration: underline;
}

.footer__menu {
    display: flex;
    flex: 0 1 62%;
    justify-content: space-between;
}
.menu__item {
    display: flex;
    flex-direction: column;
}

.menu__item h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #121212;
}

.menu__item a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(18, 18, 18, 0.6);
    transition: all 0.3s ease 0s;
}

.menu__item a:hover {
    text-decoration: underline;
}

.menu__list {
    margin-top: 4px;
}

.menu__list li {
    margin-top: 16px;
}

.menu__social {
    margin-top: 12px;
}

.menu__social li {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 0 16px;
}

.menu__social li:first-child {
    margin: 0 16px 0 0;
}

.menu__social li:hover {
    opacity: 0.8;
}

.footer__end {
    margin-top: 80px;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(18, 18, 18, 0.6);
}

@media (max-width: 768px) {
    .footer__container {
        flex-wrap: wrap;
    }

    .footer__menu {
        margin-top: 50px;
        flex: 0 1 100%;
    }
}

@media (max-width: 500px) {
    .footer__menu {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: flex-start;
    }
    .footer__end {
        margin-top: 40px;
    }    
}


